.grid {
  text-align: center;
  padding: 40px;
  background-color: lightblue;
  color: darkgreen;
}

.squareZ {
  background-color: white;
  color: black;
  text-align: center;
}

#square {
  background-color: white;
  color: black;

  background: #fff;
  border: solid solid solid solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;

  padding: 0;
  text-align: center;
  width: 45px;
}

.sp {
  background-color: orange !important;
  color: red !important;

  background: #fff;
  border: solid solid solid solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;

  padding: 0;
  text-align: center;
  width: 45px;
}

.board-row {
  clear: both;
  content: "";
  display: table;
  text-align: center;
}

.special {
  clear: both;
  content: "";
  display: table;
  text-align: center;
  background-color: yellow;
}

#griddisplay {
  text-align: center;
  color: darkgreen;
  border-style: dashed;
  border-color: blue;
  border-width: thick;
  padding: 25px;
  margin: 25px;
  font-size: 40px;
  background-color: yellow;
  border-radius: 50px;
  font-weight: bold;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.9s;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
}

.gridbutton {
  background-color: lightblue;
  color: black;
  border: 8px solid #008cba;
  font: 35px;
  border-radius: 50px;
  font-weight: bold;
}

.gridbutton:hover {
  background-color: #008cba;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
